<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4> Welcome to IMV and here's access to the IMV leave app </h4>
    <p>
     <br>
     Url: leave.imvbackend.com
     <br>
     Email: <%= @user.email %>
     <br>
     Password: 123123
     <br>
     Please head to the website and click on 'Forgot Your Password',
     an email will be sent to your email with steps to change your password
    </p>
  </body>
</html>
